* {
  margin: 0;
  padding: 0;
}
body{
  color: #000;
  background-color:#FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size:14px;
  
  text-rendering:optimizelegibility;
}
div.wrapper {
  margin:50px auto;
  width:550px;
}
h2 {
  margin-bottom: 20px;
}
div.form {
  width: 300px;
  padding: 20px;
/*  background-color: #F0F0F0;*/
  float: left;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

div.content_wrapper {
  clear:both;
  padding-top: 20px;
}
form#search fieldset {
  border: none;
  margin-bottom: 10px;
}
form#search fieldset:last-of-type {
  margin-bottom: 0;
}
form#search ol li {
  line-height: 30px;
  list-style: none;
  margin-bottom: 3px;
}
form#search label {
  float: left;
  font-size: 14px;
  width: 110px;
  font-weight: bold;
}
form#search input,
form#search textarea {
  background: #EEEEEE;
  border: #AAAAAA 1px solid;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  
  font-size: 13px;
  
  outline: none;
  padding: 5px;
  width: 175px;
}

form#search input:not([type=submit]):focus,
form#search textarea:focus {
  background: #DEECFF;
  font-style: normal;
}

form#search input.valid {
  background: url(valid.png) no-repeat scroll right center #EEFFCC;
  border-color: #57AE35;
}

form#search button {
  color: #ffffff;
  
  background: #595959;

  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;

  font-size: 16px;
  letter-spacing: 2px;
  
  margin: 0;
  display: block;
  padding: 7px 25px;
  float:right;
  
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form#search button:hover {
  background: #828282;
  cursor: pointer;
}
ul {
  list-style:none;
}

div.result {
  width:100%;
}



/*
try checkbox / radiobox

#id_arrival_0 {
font-family: ‘DroidSans-Bold’;
text-transform:uppercase;
padding: 0px 8px 0px 12px;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-bottomleft: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-webkit-border-bottom-left-radius: 0.5em;
border-top: 4px solid #aaa;
border-left: 4px solid #ccc;
border-right: 4px solid #ccc;
border-bottom: 4px solid #ccc;
-moz-border-top-colors:#aaa #bbb #ccc #ddd;
-moz-border-left-colors:#aaa #bbb #ccc #ddd;
-moz-border-bottom-colors:#aaa #bbb #ccc #ddd;
-moz-border-right-colors:#aaa #bbb #ccc #ddd;
background-color: #ddd;
display: inline;
}

#id_arrival_1 {
font-family: ‘DroidSans-Bold’;
text-transform:uppercase;
color:#414141;
padding: 0px 12px 0px 8px;
-moz-border-radius-topright: 0.5em;
-moz-border-radius-bottomright: 0.5em;
-webkit-border-top-right-radius: 0.5em;
-webkit-border-bottom-right-radius: 0.5em;
border-top: 4px solid #ccc;
border-left: 4px solid #ccc;
border-right: 4px solid #ccc;
border-bottom: 4px solid #aaa;
-moz-border-top-colors:#aaa #fff #fff #fff;
-moz-border-right-colors:#aaa #dedede #efefef #fafafa;
-moz-border-left-colors:#aaa #dedede #efefef #fafafa;
-moz-border-bottom-colors:#aaa #dedede #efefef #fafafa;
background-color: #fff;
display: inline;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -webkit-background-clip: padding-box;
  -webkit-perspective: 200;
  background-color: black;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border: 0px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
  height: 40px;
  position: relative;
  width: 120px;
}  

*/