<!DOCTYPE html>
<html>
  <head>
    <title>roguesbb</title>
    <script src="/sitemedia/scripts/jquery-1.4.2.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/sitemedia/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="head">
        <h2>Suchanfrage</h2>
      </div>
      <div class="form">
        <form id="search" method="post">
          <fieldset>
            <ol>
              <li>
                <label for="from">Von</label>
                <input id="from" name="from" type="text" placeholder="Zurich" required autofocus>
              </li>
              <li>
                <label for="to">Nach</label>
                <input id="to" name="to" type="text" placeholder="Bern" required>
              </li>
              <li>
                <label for="via">Via</label>
                <input id="via" name="via" type="text" placeholder="Olten">
              </li>
              <li>
                <label for="date">Datum</label>
                <input id="date" name="date" type="date" value="{{ today }}" required>
                <output name="jahr"></output>
              </li>
              <li>
                <label for="time">Zeit</label>
                <input id="time" name="time" type="time" value="{{ time }}" required>
              </li>
            </ol>
          </fieldset>
          <fieldset>
            <button type="submit">Suchen</button>
          </fieldset>
        </form>
      </div>
      <div class="content">
        {% if connections %}
          <h2>Resultate</h2>
          <!--
          <ul class="connections">
            {% for connection in connections %}              
              <li>{{ connection }}</li>
            {% endfor %}
          </ul>
          -->
          ...
        {% endif %}
      </div>
    </div>
  </body>
</html>